USE [master]
GO
/****** Object:  Database [RoomBooking]    Script Date: 2/7/2013 2:00:26 PM ******/
CREATE DATABASE [RoomBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoomBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RoomBooking.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RoomBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RoomBooking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoomBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoomBooking]
GO
/****** Object:  Table [dbo].[Booking_Details]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Booking_Details](
	[bookingID] [varchar](10) NOT NULL,
	[nric] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CheckIn_Details]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CheckIn_Details](
	[bookingID] [varchar](10) NOT NULL,
	[checkInDate] [date] NOT NULL,
	[checkInTime] [time](7) NOT NULL,
	[checkOutDate] [date] NULL,
	[checkOutTime] [time](7) NULL,
 CONSTRAINT [PK_CheckIn_Details] PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CreditCard_Details]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CreditCard_Details](
	[invoiceID] [varchar](10) NOT NULL,
	[cardNumber] [char](16) NOT NULL,
	[expiryDate] [char](5) NOT NULL,
	[cardType] [char](10) NOT NULL,
 CONSTRAINT [PK_CreditCard_Details] PRIMARY KEY CLUSTERED 
(
	[cardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[donoruser]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[donoruser](
	[Username] [varchar](150) NOT NULL,
	[Password] [varchar](150) NULL,
	[retypepassword] [varchar](150) NULL,
	[Fullname] [varchar](150) NULL,
	[Number] [varchar](150) NULL,
	[NRIC] [varchar](150) NULL,
	[Gender] [varchar](10) NULL,
	[Datejoined] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guest_Details]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Guest_Details](
	[nric] [varchar](10) NOT NULL,
	[lastName] [varchar](25) NOT NULL,
	[firstName] [varchar](25) NOT NULL,
	[numberOfGuest] [int] NOT NULL,
	[phoneNumber] [varchar](15) NOT NULL,
	[emailAddress] [varchar](30) NOT NULL,
	[additionalRemarks] [varchar](100) NULL,
 CONSTRAINT [PK_Guest_Details] PRIMARY KEY CLUSTERED 
(
	[nric] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[bookingID] [varchar](10) NOT NULL,
	[invoiceID] [varchar](10) NOT NULL,
	[noOfNightsStayed] [int] NOT NULL,
	[roomRates] [int] NOT NULL,
	[miniBarUsed] [char](3) NOT NULL,
	[checkInDate] [date] NOT NULL,
	[checkOutDate] [date] NOT NULL,
	[additionalCost] [int] NULL,
	[paymentMethod] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mailing_Address]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mailing_Address](
	[staffID] [char](3) NOT NULL,
	[nric] [varchar](10) NOT NULL,
	[street] [varchar](30) NOT NULL,
	[block] [varchar](6) NOT NULL,
	[houseNumber] [varchar](6) NOT NULL,
	[postalCode] [varchar](15) NOT NULL,
	[country] [varchar](60) NOT NULL,
 CONSTRAINT [PK_Mailing_Address] PRIMARY KEY CLUSTERED 
(
	[nric] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Room_Details]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room_Details](
	[bookingID] [varchar](10) NOT NULL,
	[nric] [varchar](10) NOT NULL,
	[roomStatus] [varchar](30) NOT NULL,
	[noOfGuest] [char](2) NOT NULL,
	[roomNumber] [varchar](6) NOT NULL,
	[roomLocation] [varchar](15) NOT NULL,
	[roomType] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Room_Details] PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff_Account]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff_Account](
	[staffID] [char](3) NOT NULL,
	[password] [varchar](30) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff_Details]    Script Date: 2/7/2013 2:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff_Details](
	[staffID] [char](3) NOT NULL,
	[staffName] [varchar](25) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[bankAccountNumber] [varchar](15) NOT NULL,
	[staffPhoneNumber] [varchar](15) NOT NULL,
	[dutyType] [char](2) NOT NULL,
 CONSTRAINT [PK_Staff_Details] PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[donoruser] ([Username], [Password], [retypepassword], [Fullname], [Number], [NRIC], [Gender], [Datejoined]) VALUES (N'john', N'apple', N'apple', N'John', N'91862568', N's9211934f', N'male', CAST(0x00008F2E00000000 AS DateTime))
ALTER TABLE [dbo].[Booking_Details]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Details_Guest_Details] FOREIGN KEY([nric])
REFERENCES [dbo].[Guest_Details] ([nric])
GO
ALTER TABLE [dbo].[Booking_Details] CHECK CONSTRAINT [FK_Booking_Details_Guest_Details]
GO
ALTER TABLE [dbo].[Booking_Details]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Details_Room_Details] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Room_Details] ([bookingID])
GO
ALTER TABLE [dbo].[Booking_Details] CHECK CONSTRAINT [FK_Booking_Details_Room_Details]
GO
ALTER TABLE [dbo].[CreditCard_Details]  WITH CHECK ADD  CONSTRAINT [FK_CreditCard_Details_Invoice] FOREIGN KEY([invoiceID])
REFERENCES [dbo].[Invoice] ([invoiceID])
GO
ALTER TABLE [dbo].[CreditCard_Details] CHECK CONSTRAINT [FK_CreditCard_Details_Invoice]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_CheckIn_Details] FOREIGN KEY([bookingID])
REFERENCES [dbo].[Room_Details] ([bookingID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_CheckIn_Details]
GO
ALTER TABLE [dbo].[Mailing_Address]  WITH CHECK ADD  CONSTRAINT [FK_Mailing_Address_Guest_Details] FOREIGN KEY([nric])
REFERENCES [dbo].[Guest_Details] ([nric])
GO
ALTER TABLE [dbo].[Mailing_Address] CHECK CONSTRAINT [FK_Mailing_Address_Guest_Details]
GO
ALTER TABLE [dbo].[Mailing_Address]  WITH CHECK ADD  CONSTRAINT [FK_Mailing_Address_Staff_Details] FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff_Details] ([staffID])
GO
ALTER TABLE [dbo].[Mailing_Address] CHECK CONSTRAINT [FK_Mailing_Address_Staff_Details]
GO
ALTER TABLE [dbo].[Room_Details]  WITH CHECK ADD  CONSTRAINT [FK_Room_Details_Guest_Details] FOREIGN KEY([nric])
REFERENCES [dbo].[Guest_Details] ([nric])
GO
ALTER TABLE [dbo].[Room_Details] CHECK CONSTRAINT [FK_Room_Details_Guest_Details]
GO
ALTER TABLE [dbo].[Staff_Account]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Account_Staff_Details] FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff_Details] ([staffID])
GO
ALTER TABLE [dbo].[Staff_Account] CHECK CONSTRAINT [FK_Staff_Account_Staff_Details]
GO
USE [master]
GO
