<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="DBscriptConnectionString" providerName="System.Data.SqlClient"  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBscript;Integrated Security=True;User ID=User;Password=Password_2013" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>


</configuration>
